section.sobremim {
    padding: 64px 152px 64px 152px;
    background-color: var(--cor-da-secao);
    display: flex; 
    justify-content: center;
}

.sobremim__conteiner {
    width: 1136px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sobremim__titulo{
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
}

.sobremim__texto {
    margin: 0;
    width: 751px;
    font-weight: 400;
}

.sobremim__conteiner img {
    width: 100px;
    height: 42px;
}



/*    TABLET    */

@media (max-width: 768px) {

    section.sobremim {
        padding: 32px;    
    }

    .sobremim__conteiner {
        width: 768px;
    }

    .sobremim__titulo {
        font-size: 22px;
        line-height: 25.83px;
    }
    .sobremim__texto {
        width: auto;
        font-size: 14px;
        line-height: 16.44px;
    }

}



/*    MOBILE    */

@media (max-width: 425px) {

    section.sobremim {
        padding: 16px;
    }
    
}